@font-face {
    font-family: "bebas-neue-bold";
    src: url("../fonts/bebas-neue-bold.ttf") format("ttf"), url("../fonts/BebasNeueBold.woff") format("woff"), url("../fonts/bebas-neue-bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/ofont.ru_Bebas Neue.ttf") format("ttf"), url("../fonts/BebasNeueRegular.woff") format("woff"), url("../fonts/ofont.ru_Bebas Neue.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    display: inline-block;
}

p {
    margin: 0;
    padding: 0;
}

.wrapper {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    /* font-family: Helvetica, sans-serif; */
    font-weight: 400;
    font-family: "bebas-neue-bold";
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
}

.header__menu li+li {
    margin-left: 25px;
}

.header__menu a {
    font-size: 16px;
    text-transform: uppercase;
    color: #b9b9b9;
    transition: all .5s;
    letter-spacing: 0.7px;
}

.header__menu a:hover {
    color: #e8663c;
}

.header__drop-down {
    position: relative;
    z-index: 99;
}

.header__drop-down>a {
    position: relative;
    padding: 10px 10px 10px 5px;
    border-left: 2px solid transparent;
}

.header__drop-down.drop-down {
    margin-left: 20px;
}

.drop-down__list {
    display: none;
    position: absolute;
    width: 200px;
    background-color: #ffffff;
    top: 37px;
    padding-left: 10px;
    border-left: 2px solid #b9b9b9;
}

.drop-down__list li {
    display: block;
    padding: 12px 0;
    border-bottom: 2px solid transparent;
    transition: all .3s;
}

.drop-down__list li:hover {
    border-bottom: 2px solid #b9b9b9;
}

.drop-down__list li+li {
    margin-left: 0;
}

.drop-down__list a {
    text-transform: none;
}

.header__drop-down.drop-down:hover .drop-down__list {
    display: block;
}

.header__drop-down.drop-down:hover>a {
    border-left: 2px solid #b9b9b9;
}

.drop-down__item.drop_down {
    position: relative;
}

.drop-down__item-list {
    display: none;
    position: absolute;
    width: 150px;
    right: -120px;
    top: 8px;
    background-color: #ffffff;
    border-left: 2px solid #b9b9b9;
    padding: 0 10px;
}

.drop-down__item-list li {
    padding: 12px 0;
    border-bottom: none;
}

.drop-down__item-list li:hover {
    border-bottom: transparent;
}

.drop-down__item-list li a {
    font-size: 16px;
}

.drop-down__item.drop_down:hover .drop-down__item-list {
    transition: all .5s;
    display: block;
}

.slider {
    position: relative;
}

.slider::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 60px;
    top: 0;
    left: 0;
    background-color: #f3af9d;
}

.slider::after {
    content: '';
    position: absolute;
    width: 200px;
    height: 60px;
    top: 0;
    right: 0;
    background-color: #f3af9d;
}

.slider__for-item {
    position: relative;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slider__nav {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 15px;
}

.slider__nav-item {
    margin: 0 10px;
    overflow: hidden;
}

.slick-arrow:before {
    content: '';
}

.slick-arrow {
    position: absolute;
    z-index: 3;
    border: none;
    background-color: transparent;
    top: 50%;
    transform: translate(0, -50%);
    outline: none;
    cursor: pointer;
}

.prev-arrow {
    left: 25px;
}

.next-arrow {
    right: 25px;
}

.item-box {
    position: absolute;
    max-width: 410px;
    bottom: 30px;
    left: 30px;
    padding: 20px;
    color: #ffffff;
    background-color: rgba(232, 102, 60, .8);
}

.item-box__title {
    font-size: 20px;
    margin-bottom: 20px;
}

.item-box__text {
    font-size: 12px;
    font-family: Helvetica, sans-serif;
}

.desc {
    margin: 35px 0 40px 0;
}

.desc__inner {
    display: flex;
    justify-content: space-between;
}

.desc__item {
    max-width: 280px;
}

.desc__item-title {
    position: relative;
    color: #e8663c;
    font-size: 22px;
    line-height: 24px;
    padding-left: 70px;
    margin-bottom: 30px;
}

.desc__item-title::before {
    content: '';
    position: absolute;
    left: 0;
    width: 47px;
    height: 47px;
    background-image: url(../images/desc1.svg);
}

.title-two::before {
    background-image: url(../images/desc2.svg);
    width: 49px;
    height: 41px;
}

.title-three::before {
    background-image: url(../images/desc3.svg);
    height: 40px;
    width: 40px;
}

.desc__item p {
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    color: #414141;
    line-height: 18px;
    margin-bottom: 40px;
}

.desc__iten-link a {
    font-size: 14px;
    color: #ffffff;
    padding: 11px 16px;
    background-color: #e8663c;
    font-family: "Bebas Neue";
    letter-spacing: 0.5px;
}

.works__inner {
    padding-bottom: 50px;
}

.works__inner-title {
    position: relative;
    padding-right: 30px;
    font-size: 20px;
    color: #e8603c;
    margin-bottom: 20px;
}

.works__inner-title::before {
    content: '';
    position: absolute;
    width: 808px;
    height: 18px;
    background-image: url(../images/line.jpg);
    right: 0;
}

.works__inner-info {
    display: flex;
    justify-content: space-between;
}

.info-box {
    overflow: hidden;
    min-height: 244px;
    position: relative;
}

.info-box__descr {
    position: absolute;
    border: 1px solid #dbdbdb;
    padding: 11px;
    width: 100%;
    background-color: #ffffff;
    bottom: 0;
    border-top: transparent;
}

.info-box__title {
    font-size: 18px;
    color: #b9b9b9;
}

.info-box__date {
    font-size: 12px;
    color: #e8603c;
    line-height: 18px;
    font-family: "Bebas Neue";
}

.footer__inner {
    position: relative;
}

.footer__inner::before {
    content: '';
    position: absolute;
    width: 220px;
    height: 100%;
    background-color: #f2b19c;
    left: 0;
    top: 0;
}

.footer__inner::after {
    content: '';
    position: absolute;
    width: 220px;
    height: 100%;
    background-color: #f2b19c;
    right: 0;
    top: 0;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    padding: 40px 45px 35px 35px;
    background-color: #e8663c;
    font-family: Helvetica, sans-serif;
    color: #ffffff;
}

.footer__content-about {
    max-width: 264px;
}

.footer__content-about p {
    font-size: 12px;
    margin-bottom: 20px;
}

.footer__content-about p:last-child {
    margin-bottom: 0;
}

.footer__content-title {
    font-size: 22px;
    font-family: "bebas-neue-bold";
    margin-bottom: 25px;
    letter-spacing: 0.5px;
}

.footer__content-widget {
    max-width: 235px;
    font-size: 12px;
    line-height: 14px;
}

.box-title {
    padding-bottom: 10px;
}

.box-title a,
.box-subtitle,
.footer__follow a {
    color: #f3b29d;
}

.box-subtitle {
    padding-bottom: 20px;
}

.footer__content-contact {
    max-width: 267px;
    font-size: 12px;
}

.footer__content-contact p {
    margin-bottom: 20px;
}

.footer__email a {
    color: #ffffff;
}

.footer__coordinate {
    margin-bottom: 20px;
}